@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: #0e7e12
}
.card{
    text-align: center;
   display: inline-block;
   background: white;
   margin: auto;
   height: 450px;
   font-size: 70px;
   width: 250px;
   padding: 20px;
   padding-top: 180px;
   border: 1px solid black;
   border-radius: 10px;
   position: relative;
   &:before{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
   }
   &:after{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 70px;
   }
   &.spade:before, &.spade:after{ content: '\2660';}
   &.club:before, &.club:after{ content: '\2663';}
   &.heart:before, &.heart:after{ content: '\2665'; color: red;}
   &.diamond:before, &.diamond:after{ content: '\2666'; color: red;}
}